<p>Ask your coach anything</p>
<form class="row g-3" action="/answer" data-turbo="false">
  <div class="col-auto">
    <input type="text" name="question" class="form-control" placeholder="Ask your question">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Ask</button>
  </div>
</form>
